{%load static%}
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="https://www.alltoo.fr/fr-fr/crm-alltoo" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>ALLTOO</h3>
        </a>
       
        <div class="navbar-nav w-100">
            <a href="{%url 'dashBoard'%}" class="nav-item nav-link {% if active_page == 'dashboard' %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard
            </a>

            <a href="{%url 'produits'%}" class="nav-item nav-link {% if active_page == 'produits' %}active{% endif %}">
                <i class="fa fa-th me-2"></i>Produits
            </a>
            
            <a href="{%url 'factures'%}" class="nav-item nav-link {% if active_page == 'factures' %}active{% endif %}">
                <i class="fa fa-keyboard me-2"></i>Factures
            </a>
        </div>
    </nav>
</div>